# Notebook Instructions
<i>You can run the notebook document sequentially (one cell a time) by pressing <b> shift + enter</b>. While a cell is running, a [*] will display on the left. When it has been run, a number will display indicating the order in which it was run in the notebook [8].</i>

<i>Enter edit mode by pressing <b>`Enter`</b> or using the mouse to click on a cell's editor area. Edit mode is indicated by a green cell border and a prompt showing in the editor area.</i>

# Get Futures and Options Data

In this notebook, you will learn how to fetch futures and options data from NSEpy. You can only fetch data of Indian stocks and index from NSEpy. The frequency of this data is daily. In the upcoming notebooks, we have used data from a CSV file. But if you are looking to backtest the strategies on a different dataset then this notebook will show codes to do that.

In this notebook, you will be able to:
1. Install NSEpy module
2. Fetch futures data
3. Fetch options data
4. Merge near-month expiry and far-month expiry options data into a single dataframe

!pip install nsepy

## Fetch futures data

To fetch futures data, you have to use get_history function and specify

1. `symbol` such as "Nifty"
2. start date and end date
1. Set `futures` parameter to `True`
2. Set 'index' parameter to `True` if you are fetching data for index such as Nifty or Bank Nifty. If you are fetching data for a stock such as 'SBIN' or 'HDFCBANK' then set the parameter to `False`
2. And expiry date of the contract

For example, you can use below code to fetch the daily data of Nifty 30-May-2019 expiry futures from 01-May-2019 to 30-May-2019.

## Install NSEpy module
You need to first pip install nsepy module to fetch the data. If nsepy module is not installed in your machine then run the below code.

In [7]:
# Import datetime
from datetime import date

# Import get_history function from nsepy module
from nsepy import get_history

nifty_fut = get_history(symbol='NIFTY',
                        start=date(2019, 5, 1),
                        end=date(2019, 5, 30),
                        futures=True,
                        index=True,
                        expiry_date=date(2019, 5, 30))

nifty_fut.head()

,Symbol,Expiry,Open,High,Low,Close,Last,Settle Price,Number of Contracts,Turnover,Open Interest,Change in OI,Underlying
Date,,,,,,,,,,,,,
2019-05-02,NIFTY,2019-05-30,11751.1,11834.40,11735.00,11765.40,11764.00,11765.40,113605,1.004193e+11,18632475,-518475,NaN
2019-05-03,NIFTY,2019-05-30,11735.0,11824.45,11734.95,11764.30,11762.20,11764.30,78561,6.943807e+10,18732300,99825,NaN
2019-05-06,NIFTY,2019-05-30,11671.1,11695.00,11626.85,11656.35,11652.10,11656.35,94774,8.289355e+10,19057500,325200,NaN
2019-05-07,NIFTY,2019-05-30,11685.0,11692.00,11531.35,11541.90,11542.85,11541.90,110875,9.661438e+10,18907275,-150225,11497.90
2019-05-08,NIFTY,2019-05-30,11509.9,11519.95,11403.40,11418.60,11419.90,11418.60,136819,1.176563e+11,19232025,324750,11359.45

## Fetch options data
To fetch options data, you have to use `get_history` function and specify additional parameters such as

1. `option_type`: “CE” for call and as “PE” for put option
2. `strike_price`: strike price of the options contract

And set `futures` parameter to `False`

For example, you can use below code to fetch the daily data for strike price 11500, 30-May-2019 expiry call option from 1-May-2019 to 30-May-2019.

In [10]:
# Get options data
nifty_options = get_history(symbol="NIFTY",
                              start=date(2019, 5, 1),
                              end=date(2019, 5, 30),
                              futures=False,
                              index=True,
                              expiry_date=date(2019, 5, 30),
                              option_type='CE',
                              strike_price=11500,
                              )

nifty_options.head()

,Symbol,Expiry,Option Type,Strike Price,Open,High,Low,Close,Last,Settle Price,Number of Contracts,Turnover,Premium Turnover,Open Interest,Change in OI,Underlying
Date,,,,,,,,,,,,,,,,
2019-05-02,NIFTY,2019-05-30,CE,11500.0,450.65,508.00,440.0,459.30,459.00,459.30,1559,1.399752e+09,55115000.0,403200,-3000,NaN
2019-05-03,NIFTY,2019-05-30,CE,11500.0,465.30,499.85,460.0,466.95,461.05,466.95,1352,1.214472e+09,48372000.0,397200,-6000,NaN
2019-05-06,NIFTY,2019-05-30,CE,11500.0,437.75,440.10,400.1,421.40,419.00,421.40,1878,1.678910e+09,59135000.0,405450,8250,NaN
2019-05-07,NIFTY,2019-05-30,CE,11500.0,424.95,435.00,345.0,352.15,350.00,352.15,2672,2.379512e+09,74912000.0,433200,27750,11497.90
2019-05-08,NIFTY,2019-05-30,CE,11500.0,331.05,333.90,271.7,276.20,277.00,276.20,14824,1.312395e+10,338245000.0,592950,159750,11359.45

# Merge

In one of the strategy, the futures data of the near month and the far month is used. You can combine the data using following steps.

1. Download the data for the near month and far month contract
2. Rename the columns and keep the required columns
3. Merge the data

## Download the data for the near month contract

In [11]:
# Get options data
nifty_near_month = get_history(symbol="NIFTY",
                               start=date(2019, 5, 1),
                               end=date(2019, 5, 30),
                               futures=False,
                               index=True,
                               expiry_date=date(2019, 5, 30),
                               option_type='CE',
                               strike_price=11500,
                               )

nifty_near_month.head()

,Symbol,Expiry,Option Type,Strike Price,Open,High,Low,Close,Last,Settle Price,Number of Contracts,Turnover,Premium Turnover,Open Interest,Change in OI,Underlying
Date,,,,,,,,,,,,,,,,
2019-05-02,NIFTY,2019-05-30,CE,11500.0,450.65,508.00,440.0,459.30,459.00,459.30,1559,1.399752e+09,55115000.0,403200,-3000,NaN
2019-05-03,NIFTY,2019-05-30,CE,11500.0,465.30,499.85,460.0,466.95,461.05,466.95,1352,1.214472e+09,48372000.0,397200,-6000,NaN
2019-05-06,NIFTY,2019-05-30,CE,11500.0,437.75,440.10,400.1,421.40,419.00,421.40,1878,1.678910e+09,59135000.0,405450,8250,NaN
2019-05-07,NIFTY,2019-05-30,CE,11500.0,424.95,435.00,345.0,352.15,350.00,352.15,2672,2.379512e+09,74912000.0,433200,27750,11497.90
2019-05-08,NIFTY,2019-05-30,CE,11500.0,331.05,333.90,271.7,276.20,277.00,276.20,14824,1.312395e+10,338245000.0,592950,159750,11359.45

## Download the data for the far month contract

In [12]:
# Get options data
nifty_far_month = get_history(symbol="NIFTY",
                              start=date(2019, 5, 1),
                              end=date(2019, 5, 30),
                              futures=False,
                              index=True,
                              expiry_date=date(2019, 6, 27),
                              option_type='CE',
                              strike_price=11500,
                              )

nifty_far_month.head()

,Symbol,Expiry,Option Type,Strike Price,Open,High,Low,Close,Last,Settle Price,Number of Contracts,Turnover,Premium Turnover,Open Interest,Change in OI,Underlying
Date,,,,,,,,,,,,,,,,
2019-05-02,NIFTY,2019-06-27,CE,11500.0,537.00,592.0,530.00,540.25,543.0,540.25,114,1.031090e+08,4784000.0,406725,-1200,NaN
2019-05-03,NIFTY,2019-06-27,CE,11500.0,545.00,580.0,540.00,546.85,545.0,546.85,225,2.035380e+08,9475000.0,409200,2475,NaN
2019-05-06,NIFTY,2019-06-27,CE,11500.0,495.05,515.9,483.75,496.40,496.0,496.40,355,3.194830e+08,13296000.0,402600,-6600,NaN
2019-05-07,NIFTY,2019-06-27,CE,11500.0,505.00,505.9,421.00,425.55,421.0,425.55,285,2.554940e+08,9682000.0,398775,-3825,11497.90
2019-05-08,NIFTY,2019-06-27,CE,11500.0,394.05,400.4,346.00,351.90,354.0,351.90,1594,1.420208e+09,45383000.0,396825,-1950,11359.45

## Rename the columns and keep the required columns

In [13]:
# Rename the columns
nifty_near_month = nifty_near_month.rename(
    columns={'Expiry': 'near_month_expiry', 'Strike Price': 'strike_price', 'Close': 'near_month_close', 'Last': 'LTP_near_month'})

# Keep the required columns
nifty_near_month = nifty_near_month[[
    'Symbol', 'near_month_expiry', 'strike_price', 'near_month_close', 'LTP_near_month']]

# Rename the columns
nifty_far_month = nifty_far_month.rename(
    columns={'Expiry': 'far_month_expiry', 'Strike Price': 'strike_price', 'Close': 'far_month_close', 'Last': 'LTP_far_month'})

# Keep the required columns
nifty_far_month = nifty_far_month[[
    'Symbol', 'far_month_expiry', 'strike_price', 'far_month_close', 'LTP_far_month']]

## Merge the data

In [14]:
# Merge two dataframes
nifty_data = nifty_near_month.merge(nifty_far_month, on=['Date','Symbol','strike_price'], how='inner')

nifty_data.head()

,Symbol,near_month_expiry,strike_price,near_month_close,LTP_near_month,far_month_expiry,far_month_close,LTP_far_month
Date,,,,,,,,
2019-05-02,NIFTY,2019-05-30,11500.0,459.30,459.00,2019-06-27,540.25,543.0
2019-05-03,NIFTY,2019-05-30,11500.0,466.95,461.05,2019-06-27,546.85,545.0
2019-05-06,NIFTY,2019-05-30,11500.0,421.40,419.00,2019-06-27,496.40,496.0
2019-05-07,NIFTY,2019-05-30,11500.0,352.15,350.00,2019-06-27,425.55,421.0
2019-05-08,NIFTY,2019-05-30,11500.0,276.20,277.00,2019-06-27,351.90,354.0

In the upcoming options strategies, we will fetch data from csv files. In case, you want to use different dataset, you can fetch data from NSEpy and tweak the strategies. <br><br>