# Notebook Instructions
<i>You can run the notebook document sequentially (one cell a time) by pressing <b> shift + enter</b>. While a cell is running, a [*] will display on the left. When it has been run, a number will display indicating the order in which it was run in the notebook [8].</i>

<i>Enter edit mode by pressing <b>`Enter`</b> or using the mouse to click on a cell's editor area. Edit mode is indicated by a green cell border and a prompt showing in the editor area.</i>

# Get BankNifty Data from NSEpy

In this notebook, you will learn how to BankNifty data from NSEpy. In the upcoming notebooks, we have used data from a CSV file. But if you are looking to backtest the strategies on a different dataset then this notebook will show codes to do that.

In this notebook, you will be able to
1. Install NSEpy module
2. Fetch BankNifty options data for same strike price
3. Fetch BankNifty options data for different strike price

## Install NSEpy module
You need to first pip install nsepy module to fetch the data. If nsepy module is not installed in your machine then run the below code.

!pip install nsepy==0.8

To check nsepy version, use: `pip show nsepy`

### Fetch BankNifty options data for same strike price


To fetch option data, you have to use `get_history` function and specify

1. `symbol` such as 'BANKNIFTY'
2. start date and end date
3. Set `futures` parameter to `False`
4. Set `index` parameter to `True` if you are fetching data for index such as Nifty or Bank Nifty. If you are fetching data for a stock such as 'SBIN' or 'HDFCBANK' then set the parameter to `False`
5. `expiry date` of the contract
6. `option_type`: `CE` for call and as `PE` for put option
2. `strike_price`: strike price of the options contract

In [1]:
# Import numpy
import numpy as np

# Import Pandas
import pandas as pd

# Import datetime
from datetime import date

# Import get_history function from nsepy module
from nsepy import get_history

# Bank Nifty data
bank_nifty_options = get_history(symbol="BANKNIFTY",
                                 start=date(2019, 8, 1),
                                 end=date(2019, 8, 29),
                                 futures=False,
                                 index=True,
                                 expiry_date=date(2019, 8, 29),
                                 option_type='CE',
                                 strike_price=27000,
                                 )

bank_nifty_options.head()

,Symbol,Expiry,Option Type,Strike Price,Open,High,Low,Close,Last,Settle Price,Number of Contracts,Turnover,Premium Turnover,Open Interest,Change in OI,Underlying
Date,,,,,,,,,,,,,,,,
2019-08-02,BANKNIFTY,2019-08-29,CE,27000.0,1321.00,1691.85,1314.25,1463.65,1450.0,1463.65,466,264998000.0,13358000.0,6700,6700,28204.95
2019-08-05,BANKNIFTY,2019-08-29,CE,27000.0,1101.05,1165.00,915.00,1066.10,1048.0,1066.10,1544,864571000.0,30811000.0,21540,14840,27648.05
2019-08-06,BANKNIFTY,2019-08-29,CE,27000.0,1066.55,1350.00,1055.00,1262.80,1250.0,1262.80,196,110497000.0,4657000.0,21980,440,28022.10
2019-08-07,BANKNIFTY,2019-08-29,CE,27000.0,1233.80,1335.85,935.00,959.35,935.0,959.35,650,366377000.0,15377000.0,29240,7260,27702.05
2019-08-08,BANKNIFTY,2019-08-29,CE,27000.0,1015.15,1400.00,855.00,1278.65,1400.0,1278.65,1232,691070000.0,25790000.0,33500,4260,28110.45

### Bank Nifty option price for different strike price

In [2]:
# Create an empty dataframe
data = pd.DataFrame()

# Set the strike price using start and end strike price (Check options chain for Bank Nifty)
strike_prices = list(np.arange(25400, 33100, 100))

# Run for loop from length of the strike price
for strike_price in strike_prices:
    bank_nifty_options = get_history(symbol="BANKNIFTY",
                                     start=date(2019, 8, 29),
                                     end=date(2019, 8, 30),
                                     futures=False,
                                     index=True,
                                     expiry_date=date(2019, 8, 29),
                                     option_type='CE',
                                     strike_price=int(strike_price),
                                     )

    data = data.append(bank_nifty_options)

data.head()

,Symbol,Expiry,Option Type,Strike Price,Open,High,Low,Close,Last,Settle Price,Number of Contracts,Turnover,Premium Turnover,Open Interest,Change in OI,Underlying
Date,,,,,,,,,,,,,,,,
2019-08-29,BANKNIFTY,2019-08-29,CE,25400.0,2000.65,2133.2,1836.75,1947.15,1883.5,0.0,55,30162000.0,2222000.0,100,20,27305.2
2019-08-29,BANKNIFTY,2019-08-29,CE,25500.0,2200.00,2200.0,1768.45,1789.65,1797.0,0.0,52,28528000.0,2008000.0,180,-720,27305.2
2019-08-29,BANKNIFTY,2019-08-29,CE,25600.0,0.00,0.0,0.00,1474.75,0.0,0.0,0,0.0,0.0,0,0,27305.2
2019-08-29,BANKNIFTY,2019-08-29,CE,25700.0,1753.30,1753.3,1753.30,1753.30,1753.3,0.0,1,549000.0,35000.0,0,-20,27305.2
2019-08-29,BANKNIFTY,2019-08-29,CE,25800.0,1654.20,1654.2,1454.10,1454.10,1454.1,0.0,6,3287000.0,191000.0,0,-80,27305.2

### Keep the required columns

In [3]:
# Use loc function to keep only required columns
data = data.loc[:,['Symbol','Expiry','Option Type','Strike Price','Close','Underlying']]

data.head()

,Symbol,Expiry,Option Type,Strike Price,Close,Underlying
Date,,,,,,
2019-08-29,BANKNIFTY,2019-08-29,CE,25400.0,1947.15,27305.2
2019-08-29,BANKNIFTY,2019-08-29,CE,25500.0,1789.65,27305.2
2019-08-29,BANKNIFTY,2019-08-29,CE,25600.0,1474.75,27305.2
2019-08-29,BANKNIFTY,2019-08-29,CE,25700.0,1753.30,27305.2
2019-08-29,BANKNIFTY,2019-08-29,CE,25800.0,1454.10,27305.2

Similarly, you can fetch data for individual stocks.